<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ModelEntity">

	<resultMap id="ModelResultMap" type="ModelEntity">
		<result column="ICODE" property="icode" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="URL" property="url" jdbcType="VARCHAR" />
		<result column="PARENTICODE" property="parentIcode" jdbcType="VARCHAR" />
		<result column="LEVEL" property="level" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="query_model_param">
		M.ICODE,
		M.NAME,
		M.URL,
		M.PARENTICODE,
		M.LEVEL
	</sql>

	<select id="queryList" parameterType="java.util.Map" resultMap="ModelResultMap">
		SELECT
		<include refid="query_model_param" />
		FROM MODEL M
		<where>
			<if test="icode != null and icode != ''">
				AND M.ICODE = #{icode, jdbcType=VARCHAR}
			</if>
			<if test="name != null and name != ''">
				AND M.NAME = #{name, jdbcType=VARCHAR}
			</if>
			<if test="url != null and url != ''">
				AND M.URL = #{url, jdbcType=VARCHAR}
			</if>
			<if test="parenticode != null and parenticode != ''">
				AND M.PARENTICODE = #{parentIcode, jdbcType=VARCHAR}
			</if>
			<if test="level != null and level != ''">
				AND M.LEVEL = #{level, jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="queryModelLevelByUserId" parameterType="java.util.Map"
		resultMap="ModelResultMap">
		SELECT DISTINCT
		 <choose>
		 <!--不用==作为相等  -->
			<when test="menuLevel=='levelOne'">
				M1.ICODE,
				M1.NAME,
				M1.URL,
				M1.PARENTICODE,
				M1.LEVEL
			</when>
			<when test="menuLevel=='levelTwo'">
				M2.ICODE,
				M2.NAME,
				M2.URL,
				M2.PARENTICODE,
				M2.LEVEL
			</when>
			<when test="menuLevel=='levelThree'">
				M3.ICODE,
				M3.NAME,
				M3.URL,
				M3.PARENTICODE,
				M3.LEVEL
			</when>
			<otherwise>
				null
			</otherwise>
		</choose> 
		FROM USER U LEFT JOIN USER_ROLE UR on U.ICODE=UR.USERICODE
		LEFT JOIN
		PERMISSION P ON UR.ROLEICODE=P.ROLEICODE
		LEFT JOIN MODEL M3 ON
		P.MODELICODE=M3.ICODE
		LEFT JOIN MODEL M2 ON M3.PARENTICODE=M2.ICODE
		LEFT JOIN MODEL M1 ON M2.PARENTICODE=M1.ICODE
		<!--其他服务二级菜单, 如何控制?  -->
		<where>
			U.ICODE = #{icode, jdbcType=VARCHAR}
			<if test="parenticode !=null and parenticode !=''">
			<choose>
				<when test="menuLevel=='levelTwo'">
				 	AND M2.PARENTICODE=#{parenticode,jdbcType=VARCHAR}
				</when>
				<when test="menuLevel=='levelThree'">
				 	AND M3.PARENTICODE=#{parenticode,jdbcType=VARCHAR}
				</when>
			</choose>
			</if>
			AND M3.level LIKE "具体菜单%";
		</where>
	</select>





</mapper>