<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--框架必需start-->
<script type="text/javascript" src="../../libs/js/jquery.js"></script>
<script type="text/javascript" src="../../libs/js/language/cn.js"></script>
<script type="text/javascript" src="../../libs/js/framework.js"></script>
<link href="../../libs/css/import_basic.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" id="skin" prePath="../../"/>
<link rel="stylesheet" type="text/css" id="customSkin"/>
<!--框架必需end-->

<body>
	2010年职称评审工作已经开始，本年度参与评审人员任职时间计算至2010年8月。工程师及高级工程师均需参加答辩，通过全国计算机技术与软件专业技术资格（水平）考试的人员不参加答辩，可以比正常晋升职称提前一年申报。报名费100元/每人。
<br />
    外聘人员通过全国计算机技术与软件专业技术资格（水平）的可以申报评审，其它情况不予受理。
<br />
    申报材料截止日期为2010年9月3日，过期不再受理。
<br /><br />
一、高级工程师申报条件
<br />
    1、博士毕业并获得博士学位后，获得工程师资格并在工程师岗位工作两年以上。
<br />
    2、硕士毕业并获得硕士学位后，获得工程师资格并在工程师岗位工作四年以上。
<br />
    3、本科毕业后，获得工程师资格并在工程师岗位工作五年以上。
<br /><br />
二、工程师申报条件
<br />
    1、本科：助理工程师满四年。
<br />
    2、硕士：助理工程师满三年。
<br />
注：通过全国计算机技术与软件专业技术资格（水平）考试的人员以上年限均减一年。
</body>
</html>