<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<!--框架必需start-->
<script type="text/javascript" src="../../libs/js/jquery.js"></script>
<script type="text/javascript" src="../../libs/js/language/cn.js"></script>
<script type="text/javascript" src="../../libs/js/framework.js"></script>
<link href="../../libs/css/import_basic.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" id="skin" prePath="../../"/>
<link rel="stylesheet" type="text/css" id="customSkin"/>
<!--框架必需end-->
<script>
function customHeightSet(contentHeight){
 	$(".content").height(contentHeight-80);
 }
</script>
</head>
<body>
  <div class="page_pcrcess">
  	<ul style="padding:0 0 0 200px;">
		<li><a href="../../sample_html/layout/page-process.jsp">导航栏目1</a></li>
		<li><a href="../../sample_html/layout/page-process2.jsp">导航栏目2</a></li>
		<li class="current">导航栏目3</li>
		<li><a href="../../sample_html/layout/page-process4.jsp">导航栏目4</a></li>
  	</ul>
  </div>
	<div class="content" style="overflow-y:auto;">
	流程导航是纯静态元素组成，相对于流程选项卡的优势在于有非常好的性能。
	<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	这里是页面3<br />
	 </div>
</body>
</html>